.card{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.card_top{
    display: flex;
    gap: 5px;
}

.card_top_labels{
    flex: 1;
    display: flex;
    gap: 10px;
}
.card_top svg{
    opacity: 0;
    transform: 200ms;
}
.card:hover .card_top svg{
    opacity: 1;
}

.card_title{
    font-weight: bold;
}

.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_footer svg{
    height: 12px;
    width: 12px;
}
.card_footer p{
    display: flex;
    gap:5px;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 12px;

}

.card_top_more{
    position: relative;
    display: inline-block;
}

.card_dropdown{
    background-color: white;
    width: 100px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
    
}
.card_dropdown:hover{
    background-color: rgba(0, 0, 0, 0.14);
}

.card_dropdown p{
    font-size: 10px;
    cursor: pointer;
    margin: 0px;
}