.editable{
    width: 100;
}

.editable_display{
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    cursor:pointer;
    margin-top: 0px;
    opacity: .6;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px;
}

.editable_display:hover{
    background-color: #1C658C;
    
}

.editable_edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editable_edit input{
    border-radius: 3px;
    outline: none;
    border: 1px solid #557B83;
  
    padding: 10px;
    font-size: 1rem;
}
.editable_edit_footer{
    display: flex;
    gap: 10px;
    align-items: center;
}
.editable_edit_footer button{
    outline: none;
    border: none;
    color: white;
    background-color: #557B83;
    transition: 200ms;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.editable_edit_footer button:hover{
   
    background-color: #17606e;
}


.editable_edit_footer svg{
   
    cursor: pointer;
}
